:root {
  --white: #ffff;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --green-500: #00875f;
  --green-300: #00b37e;

  --red-500: #F75A68;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Isso faz com que o padding, o margin, o border do elemento nunca aumentem a sua altura e largura, mas sim esprema o elemento pra dentro*/
}

body {
  background: var(--gray-900);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased; /*APlica  nos navegadores que são webkit, como chrome e Edge, uma padronização para as fontes ficarem mais detalhadas, fininhas. Isso é principalmente usado para fontes que não são padrões para o sistema*/
}

body,
input,
textarea,
button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem; /*cada 1rem é 16px no tamanho padrão, mas o usuário pode aumentar ou diminuir*/
}
